:root {
  --font-first: 'Roboto', sans-serif;
  --font-second: 'Exo2', sans-serif;
  --blue: #0057B8;
  --dark_blue: #00448F;
  --white: #FFF;
  --dark_gray: #535351;
  --gray: #A1A1A1;
  --bright_gray: #E1E1E1;
  --super_bright_gray: #F0F0F0;
  --bgModal: rgba(0, 0, 0, .6)
}


